/* ===============
=== SUGESTIONS ===
================*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar-nav {
  display: flex;
  gap: 30px; /* Espace entre les éléments */
}

.navbar {
  background: #9f1b32 !important;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase; /* Optionnel : pour styliser les liens */
  font-weight: 500; /* Optionnel : pour une meilleure lisibilité */
}

.hero-section {
  position: relative;
  background-image: url(./assets/img/bg-img.jpg) !important;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(98vh - 7vh);
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 0;
}
.hero-section .container {
  position: relative;
  z-index: 1;
}
.button_reserver {
  background: #9f1b32;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.button_reserver:hover {
  /* background: #fff; */
  border: 1px solid #957979;

  box-shadow: 0 0 12px #f2c;

  text-transform: uppercase;
  font-weight: bold;
}
.button_commander {
  background: #ffff;
  border: none;
  color: #9f1b32;
  text-transform: uppercase;
  font-weight: bold;
}
.button_commander:hover {
  border: 1px solid #957979;
  box-shadow: 0 0 12px #f2c;
  text-transform: uppercase;
  font-weight: bold;
}

/* Debut Section galerie  */

.section-galerie {
  margin: 28px auto;
}
.jumbotron {
  background: hsla(0, 0%, 59%, 0.72);
  border-radius: 18px;
}

.h1-galerie {
  color: #9f1b32;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.slogan-galerie {
  text-align: center;
  font-family: "Lora", sans-serif;
  padding: 18px;
}

.galerie {
  display: flex;
}

.card {
  width: 33%;
  margin: 20px auto;
  border: 1px solid #ffd9;
  box-shadow: 0 0 14px #ffd8;
  gap: 10px;
  position: relative;
  background: rgba(100, 180, 19, 0.4);
}

.card:hover {
  width: 25%;
  padding: 20px;
  border: 1px solid #dd7119;
  box-shadow: 0 0 14px #9f1b32;
  background: rgba(100, 180, 19, 0.4);
  transition: 0.5s;
}

.card img {
  width: 100%;
  object-fit: fill;
  background: rgba(100, 180, 19, 0.4);
}
@media screen and (max-width: 576px) {
  .card {
    width: 50%;
  }
  .card:hover {
    width: 49%;
    margin: 20px auto;
  }
  .card img {
    width: 100%;
    object-fit: cover;
  }
}
/* Fin Section galerie  */
/* section de reservation */
.entete-reservation h1 {
  color: #9f1b32;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.MENU h1 {
  color: #9f1b32;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.reservation p {
  font-family: "Lora", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.btn-reservation {
  background-color: #9f1b32;
  color: white;
  border-radius: 20px;
  padding: 20px;
  border: none;
  margin-bottom: 30px;
}
.btn-reservation:hover {
  background-color: #741827;
}
.right-box input::placeholder {
  color: #957979;
}
.right-box input,
.right-box input:focus {
  outline: #957979;
}

.right-box select {
  color: #957979;
}
.text-color,
.text-color:focus {
  color: #957979;
}

/* debut section menu */
.section-menu {
  margin: 28px auto;
  text-align: center;
}
.titre-menu {
  color: #9f1b32;
  font-weight: bold;
  text-transform: uppercase;
}

/* Section entre l'introduction et les plats */
.plats-du-jour {
  text-align: center;
  margin: 30px 0;
  padding: 20px;
  color: #8c1538; /* Couleur du texte en #8C1538 */
}

.plats-du-jour h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.plats-du-jour p {
  font-size: 1.2rem;
}

/* Disposition des plats */
.dishes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  border-color: #9f1b32;
}

.dish {
  flex: 1 1 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
}

.dish img {
  width: 90%;
  height: 90%;

  object-fit: cover;
  border-radius: 10px;
}
.dish img:hover {
  width: 90%;
  padding: 20px;
  border: 1px solid #9f1b32;
  box-shadow: 0 0 14px #9f1b32;
}
.dish-info {
  margin-top: 10px;
}

.dish-info h3,
.dish-info p {
  margin: 5px 0;
}

button {
  background-color: #8c1538;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #a41742;
}
@media (max-width: 600px) {
  .navbar-nav {
    flex-direction: column; /* Empile les éléments de navigation */
    gap: 15px; /* Réduit l'espace entre les éléments */
  }

  .hero-section h1 {
    font-size: 24px;
    /* Réduit la taille du texte */
  }

  .reservation h1 {
    font-size: 40px;
  }

  .btn-reservation {
    padding: 15px;
    font-size: 16px;
  }

  .dishes {
    flex-direction: column;
    align-items: center;
  }
  .dish .img-alloco,
  .dish .img-garba {
    width: 80%; /* Rend l'image responsive */
    height: auto; /* Maintient le ratio d'aspect */
  }
  .dish {
    width: 60%;
  }
}
.contact-section {
  background-image: url("./assets/img/food1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 15px;
}

textarea.form-control {
  resize: none;
  min-height: 150px;
}

.btn-danger {
  background-color: #a12028;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #870d1c;
}
/* Debut section slide */

.slider-1 {
  max-width: 600px;
  margin: 100px auto;
  overflow: hidden;
  border: 1px solid #f1f111;
}
.slider-1 .slider {
  display: flex;
  animation: slider-1 15s infinite;
}
.slider-1 img {
  background: #000;
  flex-shrink: 0;
  padding: 72px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f1f1f1;
  font-size: 54px;
}
@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

/* fin section slide */

/* Debut de la bonne section temoignage */

.temoignage {
  width: 100%;
  background: #740707;
  padding: 23px;
}

.div-slides {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.mon-slide {
  display: flex;
  animation: mon-slide 12s infinite ease-in-out;
  overflow: hidden;
}
.titre-temoignage {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}
.slidere-2 {
  width: 500px;
  text-align: center;
  height: 370px;
  background: #000000f1;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 23px auto;
  margin: 16px auto;
  position: relative;
}

.entete {
  display: flex;
  margin: 16px 18px;
}
.entete h5 {
  color: #fff;
  margin-top: 30px;
}

.img-ronde {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  right: 42px;
}
.corps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.corps p {
  width: 60%;
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 0 auto;
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 576px) {
  .slidere-2 {
    width: 300px;
    background: #000000f1;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    position: relative;
    font-size: 10px;
  }
  .corps p {
    width: 60%;
    text-align: center;
    align-items: center;
    color: #fff;
    padding: 0 auto;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    margin: 1px;
  }
}

@keyframes mon-slide {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-150%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  100% {
    transform: translateX(-300%);
  }
}
/* Fin de la bonne section temoignage */ /* footer section */
.article-left {
  background-color: #9f1b32;
}
.article-right {
  background-color: white;
}
.article-left .divider {
  width: 50px;
  height: 4px;
  background-color: white;
}
.article-right .divider {
  width: 50px;
  height: 4px;
  background-color: #9f1b32;
}
.media-icon i {
  color: #9f1b32;
  font-size: 28px;
  width: 40px;
}
.chevron-up {
  background-color: #9f1b32;
  font-size: 25px;
  text-align: center;
  width: 50px;
  border: 2px solid #9f1b32;
  /* padding: 5px; */
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
}
.p-footer {
  /* margin-left: 35px; */
  font-size: 23px;
}
